*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    font-size: 14px;
}
header{
    background: #2e3092;
    border-bottom: 1px solid #f7f7f7;
    padding: 1% 0;
    box-shadow: 0 -3px 15px 10px rgba(0,0,0,0.4);
    position: relative;
}
a{
    color: #f7f7f7;
}
h1{
    color: #f7f7f7;
    font-size: 1.3rem;
}
h2{
    font-size: 1rem;
}
ul{
    padding: 0 1rem;
}
.vr{
    display: block;
    border: 1px solid #f7f7f7;
    margin: 0 3%;
}
#header-wrapper{
    display: flex;
    width: 75%;
    margin: 0 auto;
}
#header-text-url{
    letter-spacing: 5px;
}
#header-text-small{
    font-size: 0.8rem;
}
#banner{
    width: 100%;
    height: 280px;
}
#banner img{
    display: block;
    margin: 0 auto;
    max-height: 100%;
}


/* Share-a-Ride */
#sar{
    color: #f7f7f7;
    background: #0060a8;
}
#sar-access{
    padding: 2% 0;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sar-link{
    color: #f8d904;
    font-size: 1.5rem;
    margin-top: 1%;
}
#sar-link a{
    color: inherit;
    font-weight: 800;
}
#sar-info{
    background: #0670b2;
    padding: 2% 0;
}
.sar-content{
    position: relative;
    min-height: 165px
}
.sar-bottom{
    position: absolute;
    bottom: 0;
}
#sar-vr{
    align-self: normal
}
#sar-logo-figure{
    width: 30%;
}
#sar-logo{
    max-width: 100%;
}
#sar-info-wrapper{
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}
#sar-for-commuters{
    width: 30%;
}
#sar-info-btn{
    display: block;
    text-align: center;
    color: #0670b2;
    background: #f8d904;
    text-decoration: none;
    padding: 7px 14px;
    border-radius: 3px;
}
#sar-for-employers{
    width: 60%;
}


/* Commuter Services */
#commuter-services{
    color: #353795;
    padding: 2% 0;
    width: 75%;
    margin: 0 auto;
}
.commuter-services-wrapper{
    padding: 4% 0;
    display: flex;
    align-items: center;
}
.commuter-services-wrapper h2{
    width: 210px;
}
.commuter-services-p{
    font-size: 0.85rem;
    font-weight: 700;
}
.commuter-services-wrapper a{
    color: #353795;
    font-weight: 500;
    text-decoration: none;
}
.commuter-services-wrapper:not(:last-child) {
    border-bottom: 1px solid #353795;
}
.commuter-services-formatter{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
#mini-jawn{
    width: 30%;
}
.commuter-services-figure:hover, .commuter-services-p:hover{
    cursor: pointer;
    text-decoration: underline;
}
figcaption{
    color: #696969;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
}


/* Footer */
footer{
    background: #636363;
    padding: 4% 12%;
    color: #f7f7f7;
    display: flex;
    justify-content: space-between;
}
#footer-logo-wrapper{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    /* border-right: 2px solid #f7f7f7; */
    padding-right: 15px;
}
#program-of{
    margin-bottom: 10px;
}
#footer-text-wrapper{
    width: 60%;
    font-style: normal;
}
#footer-contact-wrapper{
    width: 16%;
    align-self: center;
}
#footer-contact-wrapper h3{
    margin-bottom: 10px;
}
#footer-social-wrapper{
    display: flex;
}
.footer-social{
    height: 19px;
    width: 21px;
    padding: 0 5px;
    align-self: center;
}
#email-icon{
    height: 17px;
    width: 25px;
}
.footer-social-link{
    align-self: center;
}
.footer-social-link:not(:last-child){
    border-right: 1px solid #f7f7f7;
}


/* Media Queries */
@media all and (max-width: 900px) {
    body{
        font-size: 12px;
        line-height: 1.1rem;
        overflow-x: hidden;
    }
    #header-wrapper{
        width: auto;
        padding: 5px;
    }
    #header-wrapper img{
        width: 120px;
        height: 25px;
        align-self: center;
    }
    #header-text-url{
        letter-spacing: 3px;
    }
    h1{
        font-size: 1rem;
    }
    #header-text-small{
        font-size: 0.65rem;
        font-weight: 500;
    }
    #banner, #banner img{
        height: 205px;
    }


    /* Share-a-Ride */
    #sar-access, #sar-info{
        padding: 5% 0;
    }
    #sar-access{
        width: 95%;
        flex-direction: column;
    }
    #sar-link{
        font-size: 1rem;
        margin: 5% 0;
    }
    #sar-logo-figure{
        width: 70%;
    }
    #sar-vr{
        margin-bottom: 5%;
    }
    #sar-info-btn{
        width: 70%;
        padding: 5px 10px;
    }
    #sar-info-wrapper{
        width: 95%;
    }
    .sar-content{
        min-height: 325px;
    }
    #sar-for-commuters{
        width: 50%;
    }


    /* Commuter Services */
    #commuter-services{
        width: 95%;
    }
    .commuter-services-wrapper{
        padding: 5% 0;
        flex-direction: column;
    }
    .commuter-services-wrapper h2{
        width: 100%;
        margin-bottom: 5%;
        text-align: center;
    }
    .commuter-services-wrapper h2 br{
        display:  none;
    }
    .commuter-services-figure{
        width: 50%;
        margin-bottom: 15px;
    }
    .commuter-services-figure img{
        margin: 0 auto;
        display: block;
        width: 100px;
        height: 100px;
    }
    .commuter-services-p{
        font-size: 0.8rem;
        width: 50%;
        margin-bottom: 3%;
    }
    .commuter-services-formatter{
        width: 100%;
        flex-wrap: wrap;
    }
    #mini-jawn{
        width: 80%;
    }
}